{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homie</title>

    {% progressive_web_app_meta %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'portfolio/header_ionic.html' %}
    <link rel="stylesheet" href="{% static 'portfolio/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/global.css' %}">
</head>
<body>

<ion-app>
    <ion-tabs>
        {% include 'portfolio/tab_dashboard.html' %}
        {% include 'portfolio/tab_txn.html' %}
        {% include 'portfolio/tab_settings.html' %}

        {% include 'portfolio/tabbar_bottom.html' %}
    </ion-tabs>
</ion-app>


<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.1/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>