{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homie</title>

  {% progressive_web_app_meta %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  {% include 'portfolio/header_ionic.html' %}
  <link rel="stylesheet" href="{% static 'portfolio/css/variables.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/css/global.css' %}">
</head>
<body>

<ion-app>
  <ion-tabs>
    {% include 'portfolio/tab_dashboard.html' %}
    {% include 'portfolio/tab_txn.html' %}
    {% include 'portfolio/tab_settings.html' %}

    {% include 'portfolio/tabbar_bottom.html' %}
  </ion-tabs>
</ion-app>


<script type="module"
        src="https://cdn.jsdelivr.net/npm/ionicons@5.5.1/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>