<ion-tab tab="home">
    <ion-content class="ion-padding">
        {% include 'portfolio/fab.html' %}

        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon slot="icon-only" name="person-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title slot="start">Default Buttons</ion-title>
        </ion-toolbar>

        <ion-grid>
            <ion-row class="ion-align-items-end">
                <ion-col>
                    <p>Thứ hai, 12/03/2021</p>
                    <h1>Home Content</h1>
                </ion-col>
                <ion-col size="auto">
                    <ion-chip>
                        <ion-icon name="person-circle" color="dark"></ion-icon>
                        <ion-label>Thai</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>
        </ion-grid>

        <h1>Home Content</h1>

        <ion-button shape="round" color="primary">Round Button</ion-button>
        <ion-button shape="round" color="success">Round Button</ion-button>
        <ion-button shape="round" color="light">Round Button</ion-button>
        <ion-button shape="round" color="dark">Round Button</ion-button>

        {% include 'portfolio/list.html' %}

    </ion-content>
</ion-tab>