<ion-tab-bar slot="bottom" translucent="true">
    <ion-tab-button tab="home">
        <ion-label>Dashboard</ion-label>
        <ion-icon name="pulse-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="txn">
        <ion-label>Transactions</ion-label>
        <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="cog-outline"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>