{% load i18n %}

<!-- pinned models -->
{% for model in app.models %}
  {% if model.object_name in pinned_models %}
    {% include 'admin/app_list/app_list_entry.html' with title=model.name url=model.admin_url add_url=model.add_url %}
  {% endif %}
{% endfor %}

<hr/>

{% url '...' as expense_report_url %}
{% include 'admin/app_list/app_list_entry.html' with title="Expense Report" url=expense_report_url %}

<hr/>

{% for model in app.models %}
  {% if model.object_name not in pinned_models %}
    {% include 'admin/app_list/app_list_entry.html' with title=model.name url=model.admin_url add_url=model.add_url %}
  {% endif %}
{% endfor %}
