/*header section*/
#header {
  background-color: var(--accent-color-blue);
}

/*index page title*/
#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: var(--accent-color-yellow);
}

.module caption, .module h2 {
  background-color: var(--accent-color-gray);
}

/*module title*/
.module caption a.section:link, a.section:visited {
  color: black;
}

/*filter group title*/
.module h2, .module caption, .inline-group h2 {
  color: black;
  font-weight: bold;
}

div.breadcrumbs {
  background-color: var(--accent-color-brown);
  color: black;
}

div.breadcrumbs a {
  color: black;
}

a:link, a:visited {
  color: black;
}

/*change list page tools*/
.object-tools a:link, .object-tools a:visited {
  background-color: var(--accent-color-brown);
  color: black;
}

/*default submit button*/
.button.default, input[type=submit].default, .submit-row input.default {
  background-color: var(--accent-color-blue);
}

/*secondary submit button*/
.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background-color: var(--accent-color-blue-light);
}

/*delete button*/
.submit-row a.deletelink {
  background-color: var(--accent-color-red) !important;
}