.ios ion-toolbar ion-title {
  padding-inline-start: 0;
  padding-inline-end: 0;
  text-align: left;
}

ion-toolbar {
  margin-bottom: 50px;
}

.toolbar-title {
  text-overflow: unset;
  white-space: unset;
}

.dashboard-chart {
  padding-right: var(--ion-padding, 30px);
}

