:root {
  --accent-color-blue: #506AD4;
  --accent-color-blue-light: #7A95FF;
  --accent-color-gray: #A3CDD9;
  --accent-color-yellow: #F2CC39;
  --accent-color-brown: #C2B8AD;
  --accent-color-cream: #FFFCE6;
  --accent-color-red: #D4667D;
}