{% load i18n static %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homie_admin:index' %}">
      <img src="{% static 'admin_site/images/wsb.png' %}" alt="" width="24" height="24"
           class="d-inline-block align-text-top">
      Homie
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_menu_btn">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar_menu_btn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- welcome message -->
        <li class="nav-item">
          <span class="badge bg-primary fs-5">
          {% translate 'Welcome,' %}
          <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            </span>
        </li>

        <!-- change pw -->
        {% if user.has_usable_password %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
          </li>
        {% endif %}

        <!-- logout -->
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>