.app-btn {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  /*background-image: url(https://c.stocksy.com/a/2ZTB00/z9/2735256.jpg);*/
  background-size: cover;
  text-align: left !important;
  border: none !important;
  color: black !important;
}

.app-btn:focus {
  background: darkslategray !important;
}

/* Get the gradients here https://uigradients.com/ */
.app-btn-money {
  background: linear-gradient(to right, #CAC531, #F3F9A7);
}

.app-btn-auth {
  background: linear-gradient(to right, #1fddff, #ff4b1f);
}

.app-btn-admin {
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}

.app-btn-portfolio {
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.model-btn {
  min-height: 4rem;
}