:root {
  --accent-color-blue: #506AD4;
  --accent-color-blue-light: #7A95FF;
  --accent-color-gray: #A3CDD9;
  --accent-color-yellow: #F2CC39;
  --accent-color-brown: #C2B8AD;
  --accent-color-cream: #FFFCE6;
  --accent-color-red: #D4667D;
  /* override Django variables */
  --body-fg: black;
  --body-bg: white;
  --bs-font-sans-serif: 'Nunito', sans-serif;
}

/*override Django's variables to disable dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #79aec8;
    --primary-fg: #fff;

    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;

    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);

    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: #ba2121;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #ffc;

    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
  }
}